@model ParkingLotApp.WebUI.ViewModels.AddParkingSpaceViewModel

<h1>@Model.parkingLot.Address</h1>
<div>
    <p>@Model.parkingLot.Location</p>
    <p>@Model.parkingLot.Floor</p>
    <p>@Model.parkingLot.Spaces</p>

    
</div>

<div id='groupList' class='col-lg-6' style='padding-top:15px'>
    <div class='content'>
        <ejs-dropdownlist id="parkingspot" placeholder="Select a parking spot" popupHeight="200px" dataSource="@ViewBag.data">
            <e-dropdownlist-fields groupBy="Category" value="ParkingSpace"></e-dropdownlist-fields>
        </ejs-dropdownlist>
    </div>
</div>

<table class="table">
    <tr>
        <th>Start</th>
        <th>Finish</th>
        <th>Rate</th>
        <th>Location</th>
    </tr>

    <!--
      foreach (var parkingSpace in Model)
     {
         <tr>
             <td>parkingSpace.AppUserId</td>
             <td>parkingSpace.Driver</td>
             <td>parkingSpace.ParkingSpaceId</td>
             <td>parkingSpace.ParkingLot</td>
             <td>parkingSpace.Reserved</td>

         </tr>
    -->
    
</table>




