@model ParkingLotApp.WebUI.ViewModels.AddParkingSpaceViewModel

<h1>@Model.parkingLot.Address</h1>
<div>
    <p>@Model.parkingLot.Location</p>
    <p>@Model.parkingLot.Floor</p>
    <p>@Model.parkingLot.Spaces</p>
</div>

<table class="table">
    <tr>
        <th>Start</th>
        <th>Finish</th>
        <th>Rate</th>
        <th>Location</th>
    </tr>

    @foreach (var parkingSpace in Model)
    {
        <tr>
            <td>@parkingSpace.AppUserId</td>
            <td>@parkingSpace.Driver</td>
            <td>@parkingSpace.ParkingSpaceId</td>
            <td>@parkingSpace.ParkingLot</td>
            <td>@parkingSpace.Reserved</td>
            <td>
                <a asp-controller="ParkingSpace" asp-action="spaces" asp-route-id="@parkingSpace.ParkingSpaceId">Spaces</a>
            </td>
        </tr>
    }
</table>




