@*Model definition*@
@model List<ParkingLot>

<h1>List of parking lots</h1>

<table class="table">
    <tr>
        <th>Address</th>
        <th>Location</th>
        <th>Floor</th>
        <th>Spaces</th>
        <th>Size</th>
        <th>Handicap</th>
        <th></th>
    </tr>

    @foreach (var parkingLot in Model)
    {
        <tr>
            <td>@parkingLot.Address</td>
            <td>@parkingLot.Location</td>
            <td>@parkingLot.Floor</td>
            <td>@parkingLot.Spaces</td>
            <td>@parkingLot.Size</td>
            <td>@parkingLot.Handicap</td>
            <td>
                <a asp-controller="ParkingLot" asp-action="detail" asp-route-id="@parkingLot.Id">Detail</a> |
                <a asp-controller="ParkingLot" asp-action="edit" asp-route-id="@parkingLot.Id">Edit</a> |
                <a href="#" class="js-open-modal" data-parking-lot-id="@parkingLot.Id">Delete</a>
            </td>
        </tr>
    }

    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="7">
                You don't have any parking lots yet - <a href="/parkingLot/add">Add parking lot</a>
            </td>
        </tr>
    }

</table>
@if (Model.Count > 0)
{
    <a class="btn btn-primary" asp-action="add" asp-controller="parkingLot">Add</a>
}

<!-- Modal -->
<div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body">
                Are you sure you want to delete that parking lot?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="js-delete-button" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.js-open-modal').on('click', event => {
            const parkingLotId = $(event.target).data('parking-lot-id');
            const url = `/parkingLot/delete/${parkingLotId}`;

            $('#js-delete-button').attr('href', url);

            $('#delete-confirmation').modal('show');
        });
    </script>
}


